
            #TheWeekndBundle {
            background-color: rgb(46, 40, 118);
            }
            
            #BirdsofaFeatherBundle {
            background-color: rgb(5, 52, 57);
            }
            
            #Ali-A {
            background-color: rgb(77, 84, 85);
            }
            
            #SypherPK {
            background-color: rgb(77, 84, 85);
            }
            
            #TheWeekndCombat {
            background-color: rgb(46, 40, 118);
            }
            
            #FocalPointBundle {
            background-color: rgb(5, 52, 57);
            }
            
            #MeownstrosityBundle {
            background-color: rgb(5, 52, 57);
            }
            
            #Bugha {
            background-color: rgb(77, 84, 85);
            }
            
            #Chica {
            background-color: rgb(77, 84, 85);
            }
            
            #Lachlan {
            background-color: rgb(77, 84, 85);
            }
            
            #TheGrefg {
            background-color: rgb(77, 84, 85);
            }
            
            #Bandolier {
            background-color: rgb(77, 84, 85);
            }
            
            #JackSkellington {
            background-color: rgb(77, 84, 85);
            }
            
            #Lace {
            background-color: rgb(77, 84, 85);
            }
            
            #Starfish {
            background-color: rgb(77, 84, 85);
            }
            
            #PWRSlicers {
            background-color: rgb(77, 84, 85);
            }
            
            #JacksSled {
            background-color: rgb(77, 84, 85);
            }
            
            #Bandolette {
            background-color: rgb(77, 84, 85);
            }
            
            #Bryne {
            background-color: rgb(77, 84, 85);
            }
            
            #Budge {
            background-color: rgb(5, 52, 57);
            }
            
            #Focus {
            background-color: rgb(5, 52, 57);
            }
            
            #Heartbreaker {
            background-color: rgb(46, 40, 118);
            }
            
            #PhantomMeowscles {
            background-color: rgb(5, 52, 57);
            }
            
            #Sgt.Drake {
            background-color: rgb(5, 52, 57);
            }
            
            #TexFlamingo {
            background-color: rgb(5, 52, 57);
            }
            
            #Zadie {
            background-color: rgb(77, 84, 85);
            }
            
            #AidasEdge {
            background-color: rgb(77, 84, 85);
            }
            
            #Ali-TechStaff {
            background-color: rgb(77, 84, 85);
            }
            
            #BughaBlades {
            background-color: rgb(77, 84, 85);
            }
            
            #StaffofControl {
            background-color: rgb(77, 84, 85);
            }
            
            #SyphersScimitar {
            background-color: rgb(77, 84, 85);
            }
            
            #CoralCruiser {
            background-color: rgb(77, 84, 85);
            }
            
            #CosmicPeckAxe {
            background-color: rgb(5, 52, 57);
            }
            
            #FishboneCleaver {
            background-color: rgb(5, 52, 57);
            }
            
            #Fixation {
            background-color: rgb(5, 52, 57);
            }
            
            #FreshFish {
            background-color: rgb(77, 84, 85);
            }
            
            #PeppermintParasol {
            background-color: rgb(77, 84, 85);
            }
            
            #Scampi {
            background-color: rgb(77, 84, 85);
            }
            
            #Vision {
            background-color: rgb(77, 84, 85);
            }
            
            #VisionBoard {
            background-color: rgb(5, 52, 57);
            }
            
            #aXe-O {
            background-color: rgb(46, 40, 118);
            }
            
            #PopularVibe {
            background-color: rgb(46, 40, 118);
            }
            
            #Headbanger {
            background-color: rgb(5, 52, 57);
            }
            
            #Bootstraps {
            background-color: rgb(77, 84, 85);
            }
            
            #Jubilation {
            background-color: rgb(5, 52, 57);
            }
            
        .description {
        font-weight: bold;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        }
        body {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        }
        #footer {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        color: white;
        font-size: 10px;
        }

        section {
        display: grid;
        grid-template-columns: repeat(14, minmax(0, 1fr));
        width: 100%;
        }

        div {
        margin: 2px;
        }

        div, p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        }

        img {
        width: 99%;
        }
        .v-bucks-logo {
        width: 10px;
        }
        .price {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        }
        h1 {
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        span {
        line-height: 20px;
        }
        